@model List<T_Veterinaria.Models.ViewModels.ListarCitasViewModels>

@{
    ViewBag.Title = "Citas";
}

<div class="container mt-5 p-4 bg-light shadow rounded">
    <h2 class="text-center mb-4">Lista de Citas</h2>

    <div class="d-flex justify-content-center mb-4">
        <a class="btn btn-outline-secondary me-2" href="~/Citas/Citas">Volver</a>
        <a class="btn btn-outline-dark me-2" href="~/Diagnostico/NuevoDiagnostico">Volver a diagnostico</a>
        <a class="btn btn-outline-dark me-2" href="~/DetallePago/NuevoDetallePago">Volver a Detalle de pago</a>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped text-center">
            <thead class="table-dark">
                <tr>
                    <th>CitaID</th>
                    <th>Nombre Mascota</th>
                    <th>Nombre Empleado</th>
                    <th>Servicio</th>
                    <th>Fecha Cita</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var oElement in Model)
                {
                    <tr>
                        <td>@oElement.CitaID</td>
                        <td>@oElement.Nombre</td>
                        <td>@oElement.NombrePersona</td>
                        <td>@oElement.NombreServicio</td>
                        <td>@oElement.FechaCita</td>
                        <td>@oElement.Descripcion</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
